body{
	font-family : "Arial";
}

.heading{
    background-color: #3E7876;
			height: 80px;
			padding:20px;
	}
		
button {
    background-color: #3E7876;
    color: white;
    margin: 8px;
    border: 2px;
    cursor: pointer;
    width: 100px;
    height:30px;
}

button:hover {
    opacity: 0.9;
}



