<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="shortcut icon" href="/Users/Vishal/Documents/NewSpringProject-master/Vass/vassicon.icon" /> -->
	<title>Vass</title>
	<link rel="stylesheet" type="text/css" href="/Users/Vishal/Documents/NewSpringProject-master/Vass/homecss.css"/>


<style type="text/css">
	.cart3{
			display: flex;
			flex-direction: row;
			background-color: red;
			height: 320px;
			width: 900px;
			padding-right: 30px;
			margin:4%;

		}
		.cart2{
			background-color: orange
			;
			height: 30px;
			padding-bottom: 20px;
	}	

	.class31{
position: relative;
background-color: blue;
height: 270px;
			width: "40%";


	padding: 20px;
	margin: 1%;
	} 
	.class32{
		font-size: 20;
		color: #0066c0;
	}

</style>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script type="text/javascript">
	

var app=angular.module('angularApp1',[]);
		app.controller('angularcntrl1',function($scope,$filter,$log,$http){
		
		$scope.merchatid='';
		$scope.productid='';
		$scope.userid4='';
$scope.allproduct=[];
$scope.allproduct1='';
 var static=0;
$http.get('http://localhost:8080/product/getAllProducts')
.then(function(response){

$log.info(response.data);

//$scope.allproduct=response.data;

$scope.cart=response.data;
 
$log.info(response.data.description);

$scope.productid=response.data[0].productId;

//$log.info(allproduct[0].productid);
//$scope.merchantid=response.data.merchantEntityList[0].merchantId;
$scope.userid4=response.data.userId;

//$scope.allproduct=allproduct[0].productid;
//$log.info(allproduct);

     



      $scope.sampleFunc1=function(){
$http.get('http://localhost:8080/order/sendemail/vishalbabar.4041@gmail.com/subject/message')
.then(function(response){
	 alert("Added to Cart successfully!!!");
});
     }
  });



	});



var app1=angular.module('angularApp23',[]);
		app1.controller('angularcntrl23',function($scope,$filter,$log,$http){
$http.get('http://localhost:8080/product/getmerchantname/product4/merchant1')
.then(function(response){
 
$scope.merchantname12=response.data;

$log.info(merchantname);


 });
});
</script>













</head>
<body>
	<div class="divcls">
		<div align="center" display="flex" >
		<select height="25" class="menu" name="attributes">
			<option value="Phones">phones</option>
			<option value="books">books</option>
			<option value="cloths">cloths</option>
		</select>
		<input class="SearchBar" text-align="center" type="text" placeholder="search.." size="100"/>
		<button><image src="search.png" height="20" width="30"></button>
	</div>
	</div>


	<div   class="cart3"  >
	  		<table  width="100%" >
	  		
	  			<div ><img class="class31" src="iphone7.png" width="280" height="300"></div>
	  			
	  			
	  			<tr align="center">
	  				<td class="class4"><a href="">Apple iPhone 6S (Gold, 32GB)</a></td>
	  				<tr class="class5"align="center"><td >By Apple<td></tr>
	  				<tr class="class6"align="center" ><td>$25000 </td></tr>
	  				<tr align="center"><td><button class="btn btn-small" ng-click="add()">Add</button></td></tr>
	  				
	  				
	  			</tr>
	  		</table>
	  	</div>


	<div  ng-app="angularApp1" ng-controller="angularcntrl1"><br>
		
		<div align="right"><br>
			<button onclick="location.href = 'cart.html';">Cart</button>
		</div>

	<div class="cart3" ng-repeat="x in cart">
		<table  align="center">
			<div ><img  class="class31" src="iphone7.png" alt="image not found" width="280" height="300" onclick="window.open('product_description.html')"></div>
			<tr >
				<td class="class32"align="center" onclick="window.open('product_description.html')"><a href="">{{x.name}}</a></td></tr>
</div>
	</div>
<tr >
	<div  ng-app="angularApp23" ng-controller="angularcntrl23"><br>
	<td class="class32"align="center" onclick="window.open('product_description.html')">   Sold By {{x.merchantname12}}</td><tr>
	</div>
		</table>
<
</body>
</html>