<!DOCTYPE>
<html>
<head>
	<style type="text/css">
	.SearchBar {
                top: 355px;
                left: 575px;
                height:30px;
                width: 500px;
            }
	.divClass{
	float:left;
    width: 25%;
    padding:75px;
}
.buttonCls{
	background-color: green;
	width:120px;
	height: 30px;
}
.tableCls {
    border: 1px solid black; 
}
.divCls{
	background-color: orange ;
}
.divTable{
	text-align: right;
}
	</style>
	<script>
function bigImg(x) {
    x.style.height = "500px";
    x.style.width = "500px";
}

function normalImg(x) {
    x.style.height = "300px";
    x.style.width = "300px";
}
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script type="text/javascript">
		



		var app=angular.module('angularApp1',[]);
		app.controller('angularcntrl1',function($scope,$filter,$log,$http){

			$http.get('http://10.177.2.81:8081/merchant/getallmerchants')
.then(function(response){
$scope.cart=response.data; 

$log.info(response.data);
});
});






// $scope.merchatid='';
// 		$scope.productid='';
// 		$scope.userid4='';
// $scope.productname='';
// $scope.descrip='';
		

//  var static=0;
// $http.get('http://10.177.2.81:8080/product/get/product3')
// .then(function(response){

// $log.info(response.data);

// $scope.user=response.data;

// $scope.descrip=response.data.description;
// $log.info(response.data.description);

// $scope.productid=response.data.productId;
// $scope.merchantid=response.data.merchantEntityList[0].merchantId;
// $scope.userid4=response.data.userId;
// $scope.productname=response.data.name;

      

// $scope.sampleFunc=function(){
//             var data = {
//               cartid : static,
//               productid : $scope.productid,
//               merchantid : $scope.merchantid,
//               userid: $scope.userid4,
//               quantity : 2
//             }
//             $http.post('http://localhost:8080/cart/addtocart/', data, {header: {Accept: "Application:json ; charset=utf-8"}}).then(function(response){
//             	$log.info(response.data);
//               if(response.data) {
//                 alert("Added to Cart successfully!!!");
//                 window.location="/Users/vishal/Documents/cartpractice.html";
//               }
//               else {
//                 alert("Try Again!!!");
//                 window.location="/Users/vishal/Documents/Vass/signup.html";
//               }
//             });
//         }
//           });




//       $scope.sampleFunc1=function(){



// $http.get('http://localhost:8080/order/sendemail/vishalbabar.4041@gmail.com/subject/message')
// .then(function(response){


// 	 alert("Added to Cart successfully!!!");



// });





     // }

		</script>
</head>
<body>
	<div class="divCls"><br>
		<div align="center" display="flex">
		<select height="25" class="menu" name="attributes">
			<option value="Phones">phones</option>
			<option value="books">books</option>
			<option value="cloths">cloths</option>
		</select>
		<input class="SearchBar" text-align="center" type="text" placeholder="search.." size="100"/>
		<button><image src="search.png" height="18" width="30"></button><br><br><br>
	</div></div>
	<div>
		<div class="divClass"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="apple5s.png" alt="image is loading.. wait"/></div>
		<div class="divClass">
			<table>
				<tr><th>{{productname}}</th></tr>
				
				<tr><td><hr></td></tr>
				<tr><td>Sold by {{merchantid}} LLP (4.7 out of 5 | 26,133 ratings) and Fulfilled by Vass Online SHopping</td></tr>
				<tr><td>{{descrip}}</td></tr>
				<tr><br></tr>
				<tr><br></tr>
				<tr><br></tr></table><br/><br/></div><br><br><br><br><br>
				<div ng-app="angularApp1" ng-controller="angularcntrl1">
					<table class="tableCls">
				<div class="divTable" >
					<!-- <tr class="tableCls"><th>marchant</th><th>price</th><th>location</th></tr> -->
					<div  ><tr class="tableCls"  ng-repeat="x in cart"><td>{{x.merchantName}}</td><td>32000</td><td>bangalore</td></tr></div>
				</table>
				<br>
				<div><select name="marchantList">
					<option value="m1" ng-repeat="x in cart">{{x.merchantName}}</option>
					
				</select></div><br><br></div>
				<button ng-click="sampleFunc()" class="buttonCls" ng-click="sampleFunc()">add to cart</button>
				<button class="buttonCls" ng-click="session()" >Buy now</button>
			</div>
	</body>
	</html>