<!DOCTYPE html>
<html>
    <style type="text/css">
      .divClass{
      float:left;
        width: 25%;
        padding:75px;
    }
    .tableCls {
        border: 1px solid black; 
    }
    .buttonCls{
      text-decoration: none;
      background-color: green;
      width:120px;
      height: 30px;
    }
    .divTable{
      text-align: right;
    }
      </style>
<head>
  <link rel="shortcut icon" href="vassicon.ico" />
  <title>Vass</title>
  <link rel="stylesheet" type="text/css" href="homecss.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script type="text/javascript">



var app=angular.module('angularApp1',[]);
app.controller('angularcntrl1',function($scope,$filter,$log,$http){

  
//   $http.get('http://10.177.2.81:8083/getproductbytype/phone').then(function(response){
//     $log.info("abc");
//     $scope.product = response.data;

//     console.log(response);
// });


$scope.SampleFunc12=function(){


  localStorage.removeItem("userId");
  localStorage.removeItem("email");
  window.open('frame.html');
}

$scope.SampleFunc=function(searchterm){
$http.get('http://10.177.2.81:8083/getproductbyname/'+searchterm).then(function(response){
    $log.info("abc");
    $scope.product1 = response.data;

    console.log(response);
});
}
});
</script>

</head>
<body>
    <div class="divClass" ng-app="angularApp1" ng-controller="angularcntrl1" >
 <div class="divcls"><br>
    <div align="center" display="flex">
    <select height="25" class="menu" name="attributes">
      <option value="Phones">phones</option>
      <option value="books">books</option>
      <option value="cloths">cloths</option>
    </select>


   
    <input class="SearchBar" text-align="center" type="text" placeholder="search.." size="100" ng-model="searchterm"/>
    <button ng-click="SampleFunc(searchterm)">search</button>
    
  </div>
  
    <div align="right">
        <!-- onclick = "window.open('frame.html')" -->
      <button onclick="window.open('cartpractice.html');">cart</button>
      <button onclick="window.open('history.html');">My Orders</button>
      <button onclick = "window.open('profile.html')">Profile</button>
      <button  ng-click="SampleFunc12()">Log Out</button>
    </div>
    
  </div>
  <div>






    	<div class="cart3" ng-repeat="x in product1">
          <div ><img  class="class31" src="{{x.imagepath}}" alt="image not found" width="280" height="300" onclick="window.open('productdescription.html')"></div>
              
              
                <div class="class34">
                  <table  align="center">
          <tr><td class="class32"align="center"><a href="productdesc.html?product_id={{x.id}}" target="bottom">{{x.productName}}</a></td></tr>
          {{productid12}}
          <tr><td class="class32"align="center">{{x.description}}</td></tr>         
      <tr><td>{{x.price}}</td></tr>
          
                  <!-- <td align="center" onclick="window.open('product_description.html')">second image</td>
                  <td align="center" onclick="window.open('product_description.html')">third image</td>
                  <td align="center" onclick="window.open('product_description.html')">fourth image</td></tr> -->
              </table>
              </div>
            </div>
     
    </div>
  </div>
  </body>
  </html>